/* Header.php */

.header-menu{
  height: 5em;
}

.header-menu .row{
  height: 2.5em;
}

#logo-space{
  background-color: aqua;
  position: relative;
  overflow: hidden;
}

#logo{
  position: absolute;
  text-align: center;
  width: 10em;
  max-width: 100%;



}

#pages{
  background-color: blueviolet;
}

#menu-categories{
  background-color: red;
}


/* Search bar */

#search-bar{
  background-color: green;
}

.search-field {
 
}
.search-input{
  width: 60%; 
  margin-left: 15%;
  margin-top: 1em;
}

.search-icon{
  width: 20%;
  margin-top: 1em;
}