
$default-font: 'Roboto', sans-serif;
$condensed-font: 'Roboto Condensed', sans-serif;

$main-background-color: #dcdcdc4d;

$height-footer: 20vh;


@mixin font-style($size:1rem, $weight: 400, $family:$default-font){
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}