

/* Header.php */

.header-menu{
  height: 5em;
}

/* Logo */
#logo-space{
  position: relative;
  overflow: hidden;
}

#logo{
  width: 10em;
  max-width: 100%;
}

/* Menu Header */

#menu-header{
  position: relative;
  position: relative;
  overflow: hidden;

}

#menu-header ul {
  display: flex;
  font-size: 1em;
}

#menu-header ul li{
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}

#menu-header ul li a{
  color: black;
}





#menu-cat{
  border-top: 1px solid black;
  position: relative;
  position: relative;
  overflow: hidden;
  margin-right: 5%;
  width: 80vw;
  height: 3rem;
}

#menu-cat ul {
  display: flex;
  font-size: 1em;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 0;
  
}

#menu-cat ul li{
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 10px 1rem;
}

#menu-cat ul li a:hover{
  color: rgba(0, 0, 0, 0.5)
}

#menu-cat ul li a{
  color: black;
}

@media only screen and (max-width: 1200px){
  #menu-cat{
    display: none;
  }


}



/* Search bar */

#search-bar{
}

.search-input{
  width: 60%; 
  margin-left: 15%;
  margin-top: 1em;
}

.search-icon{
  width: 20%;
  margin-top: 1em;
}

@media only screen and (max-width: 767px){
  #menu-header{
    display: none;
  }

  #search-bar{
    position: relative;
    margin-left: 50%;
    float: right;
  }
  
}

/* Nav bar */

.navbar-brand #logo{
  width: auto;
  height: 9vh;
}

.navbar{
  margin-bottom: -4px;
  z-index: 999;
}
.navbar-nav{
  padding-top: 10vh;
  font-size: 1.5rem;
}

.navbar-nav li{
  list-style: none;
}

.navbar-nav li a {
  color: black;
}

.navbar-brand{
  padding: 0;
}
.navbar-toggler{
  margin-top: 15px;
}

.navbar-toggler:not(:disabled):not(.disabled){
  float: right;
}



@media only screen and (max-width: 767px){
  #large-menu{
    display: none;
  }
  #tablet-menu{
    display: none;
  }
  #burguer-menu{
    display: inherit;
  }

  
}

@media only screen and (min-width: 768px) and (max-width: 999px){
  #large-menu{
    display: none;
  }

  #tablet-menu{
    display: inherit;
  }

  #burguer-menu{
    display: none;
  }
  
}


@media only screen and (min-width: 1000px){
  #large-menu{
    display: inherit;
  }

  #tablet-menu{
    display: none;
  }

  #burguer-menu{
    display: none;
  }
  
}







