#search{
  margin-bottom: 0;
  padding-top: 1rem;
  padding-inline-start: 10px!important;
  padding-inline-end: 10px;
}

#search li{
  margin-top: 10px;
  margin-bottom: 10px;
}

#search, #search li div a{
  list-style: none;
  color: black;
  font-size: 1rem;
}

.search-title {
  padding: 1rem;
  font-size: 2rem;
  background-color: rgba(116, 116, 116, 0.194);
}