.main-article{
  box-shadow: 1px 1px 0px 0px rgba(150,150,150,0.3);
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.title-single-page{

}

.thumb-single-page{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.thumb-single-page img{
  max-width: 100%;
  height: auto;

}

.info-single-post p{
  margin-bottom: 0.1rem;
  font-weight: 100;
  color: rgb(133, 133, 133);
}
.info-single-post p a{
  color: rgb(106, 106, 106);
  text-decoration: underline;
  
}

.content-single-post{
  margin-top: 3rem;
  text-align: justify;

}

.categories-single-post{

}

.tags-single-post{

}
.comments-format{
  padding: 1rem;
  margin:  3rem 10%;

}

#single-page-side-content{
  background-color: aqua;
}