/* Parallax */

.parallax{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url($parallax-img);
  height: 30vh;
  min-height: 200px; 
  width: 100%;  
}

.main-thum img{
  display: none;
}