*{
  margin: 0;
  padding: 0;
}

html{
  margin-top: 0;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  body{
    position: relative;
  }

  #page-container{
    position: relative;
    min-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;

    #content-wrap{
      padding-bottom: $height-footer; //setting the footer in the bottom 
      @media screen and (max-width:767px){
        padding-bottom:$mobile-height-footer;
      }
    }
  }
}

.main-wrap{
  min-height: 100%;
  overflow-x: hidden;
}

main{
  overflow-y: auto;
}

body, main {
  overflow-x: hidden;
  font-family: $default-font;
}

.row:before, .row:after {
  display: table-row!important;
} // this code avoids issues in Safari browser