#categories{
  margin-bottom: 0;
  padding-top: 1rem;
  padding-inline-start: 10px!important;
  padding-inline-end: 10px;
}

#categories li{
  margin-top: 10px;
  margin-bottom: 10px;
}

#categories, #categories li div a{
  list-style: none;
  color: black;
  font-size: 1rem;
}

.category-title {
  @include spotlight-pages-title();
}