#footer{
  background-color:$main-background-color;
  position: absolute;
  height: $height-footer; //setting the footer in the bottom
  bottom: 0;
  left: 0;
  margin-left: 0;
  width: 100vw;

  ul{
    text-decoration: none;
    list-style: none;
  }

  a{
    color: black;
  }

  .row#footer-links{
    background-color: #dcdcdc;
  }

  .col-footer{

    @media only screen and (min-width:751px){
      padding-left: 5%;
    }

    
    div div ul{
      padding: 2rem;
      font-size: 1.5rem;
      width: 100%;

      li{
        padding-left: 1rem;
      }
    }
  }

  ul {
    padding-top: 1rem;
    display: block;

    li{
      padding: 0.3rem;
      position: relative;

      @media only screen and (min-width: 992px) and (max-width:1199px){
        padding: 0.1rem;
      } 
    }

    .social-li{
      display: inline-block;
    }
  }

  .social-media-icon{
    width: 8vw;
    max-width: 75px;;

    @media only screen and (max-width:400px){
      width: 15vw;
    }

    @media only screen and (min-width:401px) and (max-width:575px){
      width: 10vw;
    }
  }
  
  #copyright{
    @include font-style(1.4rem, 100);
  }

  @media only screen and (max-width:575px){
    @include font-style(1.8rem);
  }
  @media only screen and (min-width: 576px) and (max-width:767px){
    @include font-style(1.6rem);
  }
  @media only screen and (min-width: 768px) and (max-width:991px){
    @include font-style(1.4rem);
  }
  @media only screen and (min-width: 992px){
    @include font-style(1.5rem);
  }
}


// .row#footer-phone{
//   @media only screen and (max-width:765px){
//     display: block;
//   }
//   @media only screen and (min-width:766px){
//     display: none;
//   }
// }

// .row#footer-bigger{
//   @media only screen and (max-width:765px){
//     display: none;
//   }
//   @media only screen and (min-width:766px){
//     display: in;
//   }
// }